# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/sonar-scanner
/.scannerwork


/server/public/audio/*
!/server/public/audio/oui.mp3
!/server/public/audio/201mdi.mp3

/server/public/images/*
!/server/public/images/avatar_createur.png

/server/node_modules
/client/node_modules
/node_modules
/.pnp
.pnp.js

/client/coverage/*
db-identifiants.json
/client/cypress/videos/*
/client/cypress/screenshots/*
/client/build
/server/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
